
Matrix/.idea/artifacts/Matrix.xml
Matrix/.idea/compiler.xml
Matrix/.idea/libraries/Matrix.xml
Matrix/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_0_0.xml
Matrix/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_1_0.xml
Matrix/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_1_0.xml
Matrix/.idea/libraries/Maven__org_opentest4j_opentest4j_1_0_0.xml
Matrix/.idea/misc.xml
Matrix/.idea/modules.xml
Matrix/.idea/workspace.xml
